.Form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.Subform {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.SmallWidth {
  width: 191px;
}

.Unselectable {
  user-select: none;
}